.hero {
  padding: 60px 20px;
  border-radius: 20px;

  background: linear-gradient(135deg, #16a34a, #22c55e);
  color: #fff;

  text-align: center;
  margin-bottom: 25px;
}

.hero h1 {
  font-size: 34px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 16px;
  opacity: 0.9;
}


.about-section {
  display: flex;
  gap: 25px;
  align-items: center;

  background: #ffffff;
  padding: 20px;
  border-radius: 15px;

  box-shadow: 0 6px 20px rgba(0,0,0,0.06);
}

.about-text h2 {
  color: #16a34a;
  margin-bottom: 10px;
}

.about-text p {
  color: #444;
  line-height: 1.7;
}

.about-img {
  width: 260px;
  border-radius: 15px;
  transition: 0.4s;
}

.about-img:hover {
  transform: scale(1.05);
}


.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
  margin-top: 15px;
}

.feature-box {
  background: #dcfce7;
  padding: 15px;
  border-radius: 12px;

  text-align: center;
  font-weight: 500;

  transition: 0.3s;
}

.feature-box:hover {
  background: #16a34a;
  color: #fff;
  transform: translateY(-4px);
}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 12px;
  margin-top: 15px;
}

.gallery img {
  width: 100%;
  height: 150px;
  object-fit: cover;

  border-radius: 12px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.06);
}


.cta {
  text-align: center;
  padding: 25px;

  background: linear-gradient(135deg, #dcfce7, #bbf7d0);
  border-radius: 15px;

  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.cta h2 {
  color: #16a34a;
}

.cta p {
  margin: 10px 0;
  color: #444;
}


.btn {
  display: inline-block;
  margin-top: 30px; 
  padding: 12px 22px;
  border-radius: 25px;

  background: #16a34a;
  color: #fff;

  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #14532d;
  transform: translateY(-2px);
}


@media (max-width: 768px) {

  .hero h1 {
    font-size: 24px;
  }

  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-img {
    width: 100%;
    max-width: 300px;
  }

  .gallery img {
    height: 120px;
  }
}